.listGblack {
    color: white;
    background-color: black;
    font-size: 30px;
    width: 100%;
    height: 1.5em;
    margin-bottom: 0.2em;
}
.checkitem{
    border: 3px solid black;
    display: grid;
    place-items: center;
    font-size: 8px;
    margin: 3px;
    margin-bottom: 20px;
    margin-right: 20px;

}
ul.database {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column: 3; */
}
li.checkitem ul:child{
    margin-bottom: 0.2em;
}
li.checkitem ul:last-child{
    margin-bottom: 0.2em;
}
li.checkitem ul{
    margin-right: 0.2em;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}